h3 = "#{user.name}'nin velileri"
= form_tag 'parents/add', id: 'add-parent-to-student-form', remote: true, class: 'ui form' do |f|
  .field
    = text_field_tag :email, '', id: 'add-student-to-room', class: 'input-group-field'
  .field
    = hidden_field_tag :type, 'parent'
    input.ui.button type="submit" value="Veli ekle"

table.ui.striped.table
  thead
    tr
      th Avatar
      th Isim
      th Email
      th Sil
  tbody
    - collection.each do |record|
      tr
        td
          .avatar
            img src="#{avatar_url(record)}" height='50px' width='50px' class='image-user-dropzone' data-id='#{record.id}'    
        td =record.name
        td =record.email
        td 
          a href="#{remove_url(record)}"
            i> class='trash icon'
