h3 Ders ekleme
= cell(School::Cell::Errors, nil, errors: contract.errors)
= form_for contract, url: url do |f|
  label
    | Isim
    = f.text_field :name
  label
    | Detaylar
    = f.text_area :description
  label
    input class="button" type="submit" value='Kaydet'
