.header.item.active Kullanicilar
a.item href='/admin/users' 
  | Kullanicilar 
  .ui.label = User.count
a.item href='/admin/users/new' Kullanici ekle
a.item href='/admin/users/tools/import_html' Kullanici import et
.header.item.active Siniflar
a.item href='/admin/rooms' Siniflar
a.item href='/admin/rooms/new' Sinif ekle
- if Room.any?
  a.item href="/admin/schedules/#{Room.last.id}" Ders Cizelgesi
