  .header.item.active Odevler
  a.item href='/student' 
    | Hepsi
    .ui.small.label = all.count
  a.item href='/student/homeworks/waiting' 
    | Bekleyenler
    .ui.small.label = waiting.count
  a.item href='/student/homeworks/expired' 
    | Sonuclar
    .ui.small.label = expired.count

  .header.item.active Mesajlar
  a.item href='/student/messages/inbox' 
    | Listesi
    .ui.label= unread.count
  a.item href='/student/messages/new' Yeni

  .header.item.active Anonslar
  a.item href='/student/announcements' Anons listesi

  .header.item.active Sinif
  a.item href="#{room_url}" Sinifim

  a.item href="#{schedule_url}" Ders Cizelgesi
