.header.item.active Dersler
a.item href='/teacher/courses' 
  | Listesi
  .ui.label = courses.count
a.item href='/teacher/courses/new' Ekle
.header.item.active  Öğrencilerim
a.item href='/teacher/students' 
  | Liste
  .ui.label = students.count
.header.item.active Mesajlar
a.item href='/teacher/messages/inbox' 
  | Liste
  .ui.label= unread.count
a.item href='/teacher/messages/new' Yeni
.header.item.active Anonslar
a.item href='/teacher/announcements' Listesi
a.item href='/teacher/announcements/new' Yeni
