.event
  .label style='padding-top:4px'
    i.ui.comment.icon
  .content
    .summary
      a> href='#' 
        = user.name
      | Yeni bir yorum yapdi
      .date = updated_at.localize_stamp("13:00, January 12 ")
    .extra.text
      = body
    .extra.images
      a 
        img src="/wireframe/image.png"
      a 
        img src="/wireframe/image.png"
