h3 Öğrenci güncelleme
= cell(School::Cell::Errors, model)
= form_for [:admin, model], html: {class: 'ui form'} do |f|
  .field
    label
      | Tam isim
    = f.text_field :name
  .field
    label
      | Email
    = f.text_field :email

  .grouped.fields
    label for='role' Role        
    - Role.all.each do |role|
      .field
        .ui.radio.checkbox 
          = f.radio_button :role_id, role.id
          label = role.name
  input class="ui button" type="submit" value='Kaydet'
