h3 Kullanici importu
= form_tag url, class: 'dropzone', id: 'dropzone_user_form'
  div.dz-message data-dz-message=''
    span Excel dosyasini buraya surukleyin
  div.fallback
    input name='file' type='file'

br      
h5 Ornek format
table class='ui celled striped table'
  thead
    tr
      th Tam isim
      th Email
      th Rolu
      th Sinif
  tbody
    tr
      td Mahmut Hoca
      td mahmut@ornek.com
      td öğretmen
      td
    tr
      td Tarik Akan
      td tarik@ornek.com
      td öğrenci
      td 4b
    tr
      td Mehmet Deniz
      td mehmet@ornek.com
      td veli
      td