h1 Kullanici listesi
table.ui.table
  thead
    tr
      th Kisi
      th Rol
      th Contact
  tbody
    - model.each do |record|
      tr
        td        
          h4.ui.header
            img src="#{avatar_url(record)}" class='image-course-dropzone ui mini rounded image' data-id='#{record.id}'

            .content
              a href="#{edit_url(record)}" =record.name
              .sub.header = record.email

        td =role(record)
        td 
          - if record.is_student?
            a href="#{parents_url(record)}"
              i> class='fa fa-users'
              | velisi
