a.avatar
  img.image-question-dropzone src="#{avatar_url}" height='50px' width='50px' data-id='#{id}'
.content
  .text
    = text  
  .actions
    a href="#{edit_url}" 
      i class='edit icon' 
      | guncelle
    a href="#{url}" 
      i class='trash icon' 
      | sil

.comments
  - choices.each_with_index do |choice, index|
    .comment
      a.avatar
        img.image-choice-dropzone src="#{choice_avatar_url(choice)}" height='50px' width='50px' data-id='#{choice.id}'
      .content
        .text
          = choice.text  
        .actions
          a href='#' 