h3 Soru ekle
= cell(School::Cell::Errors, nil, errors: contract.errors)
= form_for contract, url: url, html: {class: 'ui form'} do |f|
  .field
    label
      | Soru
    = f.text_area :text, rows:4
  .field
    label
      | Konu listesi
    = f.text_field :tag_list
  - f.fields_for :choices do |o|
    .inline.fields
      .field
        = o.radio_button :correct, 1, class: "question_radio"
      .field
        = o.text_field :text, class: 'input-group-field'
        = o.hidden_field :id
  input class="ui button" type="submit" value='Kaydet'
javascript:
  $(".question_radio").click(function(){
    $('.question_radio').prop('checked', false);
    $(this).prop('checked', true);
  });