= cell(Course::Cell::Title, course)

#content.row
  .columns.medium-4
    .callout.secondary
      h5 Odev listesi
      hr
      p bekleyen odeviniz yok
  .columns.medium-8
    - collection.each do |record|
      .columns.medium-4
        = cell(Homework::Cell::Card, record)
