h3 Mesaj gonderme
= form_tag url, {class: 'ui form'} do
  .ui.message
    h4 class="ui dividing header" Kime
    .three.fields
      - if parent?
        .field 
          label
            | Ogretmen
          select name='to[]' class='ui fluid search selection dropdown' multiple=''
            = options_from_collection_for_select teachers, :id, :name, {include_blank: true}
      - unless parent?
        .field 
          label
            | Ogrenci
          select name='to[]' class='ui fluid search selection dropdown' multiple=''
            = options_from_collection_for_select users, :id, :name, {include_blank: true}
      - if teacher?
        .field
          label
            | Sinif
          select name='rooms[]' class='ui fluid search selection dropdown' multiple=''
            = options_from_collection_for_select rooms, :id, :name, {include_blank: true}
        .field
          label
            | Veliler
          select name='parents[]' class='ui fluid search selection dropdown' multiple=''
            = options_from_collection_for_select rooms, :id, :name, {include_blank: true}
  .field
    label
      | Konu
    = text_field_tag :subject
  .field
    label
      | Mesaj
    = text_area_tag :body

  input class="ui button" type="submit" value='Gonder'