h1.ui.header Mesajlar
table.ui.celled.striped.table
  thead
    tr
      th Konu
      th Katilimcilar
      th Tarih
  tbody
    - model.each do |record|
      tr class="#{class_name(record)}"
        td 
          a href="#{detail_url(record)}" =subject(record)
        td = participants(record.conversation)
        td = created_at(record)