.ui.comments
  h3.ui.dividing.header = subject
  - receipts.each do |receipt|
    .comment
      a.avatar
        img src="#{avatar_url(receipt.message.sender)}"

      .content
        a.author = receipt.message.sender.name
        .metadata
          span.date = receipt.message.created_at.stamp("Today at 5:42PM")
        .text
          = simple_format receipt.message.body
        .actions
          a.reply

  = form_tag reply_url, {class: 'ui reply form'} do
    .field
      label
        | Cevap
      = text_area_tag :body

    input class="ui button" type="submit" value='Gonder'
