h3 Tercihler
= cell(School::Cell::Errors, model)
= form_for model, html: {class: 'ui form'} do |f|
  table.ui.celled.collapsing.table
    thead
      tr
        th
        th Email
        th Phone
    tbody
      tr
        td Notification for courses
        td = f.check_box :homework_notification_by_email
        td = f.check_box :homework_notification_by_phone
      tr
        td Notification for announcements
        td = f.check_box :announcement_notification_by_email
        td = f.check_box :announcement_notification_by_phone
  input class="ui button" type="submit" value='Kaydet'
