doctype html
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0" 

    title School
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"    
    = csrf_meta_tags 
body      
  = cell(School::Cell::TopMenu)  
  div#app class="ui bottom attached pushable"
    .ui.left.vertical.visible.thin.sidebar.menu style='padding-top:50px'
      = sidebar
    .pusher
      - if homework
        = cell(Homework::Cell::Title, homework) 
      - elsif course
        = cell(Course::Cell::Title, course)
    
      = yield

      .ui.divider
      .ui.text.center.aligned.container
        = context[:current_user].name
        = " ( #{context[:current_user].role.name} )"