.ui.top.fixed.menu
  a.item onclick="$('.ui.sidebar').sidebar({context: '#app'}).sidebar('toggle');"
    i class="sidebar icon"  
    | Menu
  a.item href='/admin' yonetici
  a.item href='/teacher' ogretmen
  a.item href='/student' ogrenci
  a.item href='/parent' veli
  .right.menu
    a.item href='/teacher/messages' Mesajlar
    a.item href='/preferences/_/edit' Tercihler
    .item
      .ui.button Giris