.card
  .image
    img src="#{image}"
    span.title = name

  .content
    p = description 

  .action
    a href="#{url}" 
      i> class='fa  fa-tasks'
      = homework_count
    a href='#'
      i> class='fa fa-users'
      = student_count
