h3 Ders ekleme
= cell(School::Cell::Errors, model)
= form_for [:teacher, model], html: {class: 'ui form'} do |f|
  .inline.fields
    label for='role' Sinifi        
    - Room.all.each do |room|
      .field
        .ui.radio.checkbox 
          = f.radio_button :room_id, room.id
          label = room.name

  .field
    label
      | Ders
    = f.collection_select :lesson_id, Lesson.all, :id, :name

  .field
    label
      | Konular
    = f.grouped_collection_select :subject_ids, Lesson.all, :subjects, :name, :id, :name, {}, { multiple: true, style: 'height:200px' }

  .field
    label
      | Detaylar
    = f.text_area :description

  input class="ui button" type="submit" value='Kaydet'
