h1.ui.header Dersler
table.ui.celled.striped.table
  thead
    tr
      th Ders
      th Sinif
      th Odevler
      th Videolar
      th 
  tbody
    - model.each do |record|
      tr
        td
          h4.ui.image.header
            img src="#{avatar_url(record)}" class='image-course-dropzone ui rounded image' data-id='#{record.id}'

            .content
              a href="#{course_url(record)}" = record.lesson.name
              .sub.header = record.description
        td = room_name(record)
        td = homework_count(record) 
        td = video_count(record)
        td
          a href="#{course_edit_url(record)}"
            button.ui.small.button
              i.edit.icon
              | Guncelle
