.ui.basic.icon.buttons.small
  a href="/teacher/courses/#{id}/homeworks/new" class="ui button "
    i class="plus icon"
    | Odev ekle
  a href="/teacher/courses/#{id}/videos/new" class="ui button"
    i class="video play icon"
    | Video ekle
  a href="/teacher/courses/#{id}/edit" class="ui button "
    i class="settings icon"
    | Guncelle  
h1.ui.header 
  .content
    = name
    .sub.header
      = description
      br
