.row
  .columns
    h3 Odev ekleme
    = cell(School::Cell::Errors, nil, errors: contract.errors)
    = form_for contract, url: url do |f|
      label
        | Isim
        = f.text_field :name
      label
        | Detaylar
        = f.text_area :description, rows:3
      .row
        .column.medium-3
          label
            | Baslama saati
            = f.text_field :starts_at, class: 'datetimepicker'
        .column.medium-3.end
          label 
            | Bitis saati
            = f.text_field :ends_at, class: 'datetimepicker'
      label
        input class="button" type="submit" value='Kaydet'
javascript:
  $(function(){
    $('.datetimepicker').fdatepicker({
      language: 'tr',
      format: 'yyyy-mm-dd hh:ii',
      disableDblClickSelection: true,
      pickTime: true
    });
  });
