ul.timeline
  - collection.each_with_index do |homework, index|
    li
      div class='#{class_name(index)}'
        .flag-wrapper
          span.flag = deadline(homework)
        .desc 
          h5 = homework.name
          p = homework.description
          a href=take_url(homework) Odevi yap
