h3 Sorular
table.ui.table
  thead
    tr
      th Dogru
      th Yanlis
      th Bos
  tbody    
    tr
      td.success = take.right
      td.alert = take.wrong
      td.warning = take.blank

table.ui.striped.table.take data-id="#{take.id}"
  - model.each do |record|
    tr
      td.question data-id="#{record.id}"
        .ui.form
          .grouped.fields
            label = record.text
            - record.choices.each do |choice|
              .field
                .ui.radio.checkbox data-id="#{choice.id}"
                  input.option> type='radio' name="question_#{record.id}" data-id="#{choice.id}"
                  label= choice.text


javascript:
  var answers = #{take.answers.pluck(:option_id).to_json}
  var divs = $('.ui.radio.checkbox');
  if (!jQuery.isEmptyObject(answers)){
    divs.each(function(index){
      if ( $.inArray($(this).data('id'), answers) ){
        $($(this).find('input')[0]).attr('checked', true) 
      }
    });
 }