.event
  .label style='padding-top:4px'
    i.video.play.icon
  .content
    .summary
      a> href='#' 
        = video.videoable.name
      | dersine yeni video olarak
      a<> href='#' = video.title
      | eklendi
      .date = publish_at.localize_stamp("13:00, January 12 ")
    .extra.text
      = video.description
    .extra.images
      = embed_video()
    .meta
      a.like href='#'
        i.time.icon
        | Yayinlanma tarihi: #{publish_at.localize_stamp("January 12 saat 13:00")}

      a href="#{edit_url}" 
        i class='edit icon'
        | guncelle
