.row
  .columns
    h3 Video
    = cell(School::Cell::Errors, nil, errors: contract.errors)
    = form_for contract, url: url, html: {class: 'ui form'} do |f|
      .field
        label
          | YouTube link
        = f.text_field :link, placeholder: 'https://www.youtube.com/watch?v=zANzVN-F8HY'
      .field
        label
          | Ismi
        = f.text_field :title
      .field
        label
          | Tanim
        = f.text_area :description

      .two.fields
        .field
          label
            | Yayinlama saati
          = f.text_field :publish_at, class: 'datetimepicker'

      input class="ui button" type="submit" value='Kaydet'
