h1 Odevler
.ui.feed
  - collection.each do |homework|
    .event
      .label
        = image_tag random_avatar
      .content
        .summary
          a> href='#' 
            = homework.course.name
          | dersine yeni odev olarak
          a<> href='#' = homework.name
          | eklendi
          .date = homework.ends_at.localize_stamp("13:00, January 12 ")
        .extra.text
          = homework.description
        .extra.images
          a 
            img src="/wireframe/image.png"
          a 
            img src="/wireframe/image.png"
        .meta
          - if homework.doable?
            a.like href=take_url(homework)
              i.write.icon
              | Odevi yap
          span
            | #{homework.doing.count} kisi bu odevi #{homework.doable? ? 'yapiyor' : 'yapti'}
    .ui.divider