h3.ui.header
  .content
    | Sorular
    .sub.header
      | Asagida bu sinavin soru listesi
      a< href="/teacher/homeworks/#{homework.id}/questions/new" class='compact ui button'
        i.plus.icon
        | Ekle

.ui.comments
  - collection.each do |record|
    .comment
      = cell(Question::Cell::Card, record)
    .ui.divider