.event
  .label style='padding-top:4px'
    i.ui.write.square.icon
  .content
    .summary
      a> href='#' 
        = homework.course.name
      | dersine yeni odev olarak
      a<> href='#' = homework.name
      | eklendi
      .date = updated_at.localize_stamp("13:00, January 12 ")
    .extra.text
      = homework.description
    .extra.images
      a 
        img src="/wireframe/image.png"
      a 
        img src="/wireframe/image.png"
    .meta
      a.like href='#'
        i.time.icon
        | Teslim tarihi: #{ends_at.localize_stamp("January 12 13:00")}
      - if homework.doable?
        a.like href=take_url(homework)
          i.write.icon
          | Odevi yap
      span
        i.write.icon
        | #{homework.doing.count} kisi bu odevi #{homework.doable? ? 'yapiyor' : 'yapti'}
