.event
  .label
    i class="pencil icon"
  .content
    .summary
      = name
      .date = model.ends_at.localize_stamp("13:00, January 12 ")
    .extra.text = simple_format description          
    .meta
      a.like
        i.like.icon
        | 5 Likes

      a href="#{questions_url}"
        i class='question icon'
        | #{question_count} soru
      a href="#{import_url}"
        i class='upload icon'
        | import
      a href="#{edit_url}" 
        i class='pie chart icon'
        | rapor
      a href="#{edit_url}" 
        i class='edit icon' 
        | guncelle
      a href="#{edit_url}" 
        i class='trash icon' 
        | sil
