.row
  .columns
    h3 Odev ekleme
    = cell(School::Cell::Errors, model)
    = form_for url, html: {class: 'ui form'} do |f|
      .field
        label
          | Isim
        = f.text_field :name
      .field
        label
          | Detaylar
        = f.text_area :description

      .two.fields
        .field
          label
            | Baslama saati
          = f.text_field :starts_at, class: 'datetimepicker'
        .field
          label 
            | Bitis saati
          = f.text_field :ends_at, class: 'datetimepicker'

      input class="ui button" type="submit" value='Kaydet'
