h3 Soru importu
= form_tag url, class: 'dropzone', id: 'dropzone_form'
  div.dz-message data-dz-message=''
    span Excel dosyasini buraya surukleyin
  div.fallback
    input name='file' type='file'
br
h5 Ornek format
table.ui.striped.table
  thead
    tr
      th Soru
      th 1 
      th 2
      th 3
      th 4
      th 5
      th Dogru
      th Konu
  tbody
    tr
      td Istanbulun fethi kac yilinda gerceklismistir?
      td 1423 
      td 1453
      td 1543 
      td 1422 
      td 1425 
      td 2
      td asal sayilar, kumeler
