@import "semantic-ui";
@import "components/dropzonejs";
@import "components/app";

@import "datetimepicker/jquery.datetimepicker";
@import "dropzonejs/dist/dropzone";
@import "EasyAutocomplete/dist/easy-autocomplete";

.ui.mini.images .image,
.ui.mini.images img,
.ui.mini.images svg,
.ui.mini.image {
  width: 50px;
  height: auto;
  font-size: 0.78571429rem;
}

tr.unread{
  font-weight: 600;
}
