h3 = title
= cell(School::Cell::Errors, nil, errors: contract.errors)
= form_for contract, url: url, html: {class: 'ui form'} do |f|
  .two.fields
    .field
      = f.text_field :name, placeholder: 'Sinif ismi'
    .field
      input class="ui button" type="submit" value='Kaydet'
