- if admin?
  .ui.buttons
    - Room.all.each do |r|
      a href="#{room_schedule_url(r)}" class="ui #{selected_class(r)} button"= r.name
h1 #{room.name}'nin ders cizelgesi
- if admin?
  form.ui.form action="#{update_schedule_url}" method='post'
    input type="hidden" name="authenticity_token" value="#{form_authenticity_token}"

    .four.fields
      .field
        label
          | Gun
        select.ui.fluid.dropdown name='day'
          - days.each do |day|
            option value="#{day}" =  (I18n.t(:"date.day_names")[day]).upcase
      .field
        label
          | Saat
        select.ui.fluid.dropdown name='hour'
          - hours.each do |hour|
            option value="#{hour.id}" = hour.name
      .field
        label
          | Ders
        select.ui.fluid.dropdown name='course'
          - courses.each do |course|
            option value="#{course.id}" = "#{course.subject.name} (#{course.user.name})"
      .field
        label
          = '&nbsp;'
        button.ui.button Guncelle

table.ui.table
  thead
    tr
      th SAAT
      - days.each do |day|
        th = (I18n.t(:"date.day_names")[day]).upcase

    - hours.each do |hour|
      tr 
        td 
          = hour.name.upcase
          br
          = "#{hour.from} - #{hour.to}"
        - days.each do |day|
          td 
            - if schedule =  schedule_for(day, hour)
              = schedule.course.lesson.name
              br
              = schedule.course.user.name
  .column.two.wide

