h3 =title
= form_tag 'users/add', id: 'add-student-to-room-form', remote: true, class: 'ui form' do |f|
  .two.fields
    .field
      = text_field_tag :email, '', id: 'add-student-to-room', class: 'input-group-field'
      = hidden_field_tag :type, 'student'
    .field
      input.ui.button type="submit" value="Ogrenci ekle"

table.ui.table.striped
  thead
    tr.text-left
      th
      th Isim
      th Email
      th Cikar
  tbody
    - collection.each do |record|
      tr
        td
          .avatar
            img src="#{avatar_url(record)}" height='50px' width='50px' class='image-user-dropzone' data-id='#{record.id}'     
        td =record.name
        td =record.email
        td 
          a.ui.small.icon.button href="#{remove_url(record)}" 
            i class='trash icon'
