.event
  .label style='padding-top:4px'
    i.ui.announcement.icon
  .content
    .summary
      | Yeni bir anons yapildi
      .date = updated_at.localize_stamp("13:00, January 12 ")
    .extra.text
      = text
    .extra.images
      a 
        img src="/wireframe/image.png"
      a 
        img src="/wireframe/image.png"
