h3 Anons yaratma
= cell(School::Cell::Errors, model)
= form_for [:teacher, model], html: {class: 'ui form'} do |f|
  .field
    label
      | Anons
    = f.text_area :text

  .inline.fields
    label for='role' Sinifi   
    - rooms.each do |room|
      .field
        .ui.checkbox.checkbox
          input type="checkbox" name="announcement[room_ids][]" value=room.id checked=checked(room)
          label = room.name

  input class="ui button" type="submit" value='Kaydet'
