h1.ui.header Announcementlar
table.ui.celled.striped.table
  thead
    tr
      th Icerik
      th Siniflar
      th Tarih
  tbody
    - model.each do |record|
      tr
        td = text(record)
        td = rooms(record)
        td = created_at(record)