.top-bar
  .top-bar-title
    span data-hide-for="medium" data-responsive-toggle="responsive-menu" 
      button.menu-icon.dark data-toggle="" type="button" 
    strong Sinava hazirlik
 
  #responsive-menu
    .top-bar-left
    .top-bar-right
      ul.menu
        li 
          a href='/courses/new' class='button' +
        li
          a href="#" mahmut@sylow.net
