h3 = title
= cell(School::Cell::Errors, model)
= form_for [:admin, model.model], html: {class: 'ui form'} do |f|
  .two.fields
    .field
      = f.text_field :name, placeholder: 'Sinif ismi'
    .field
      input class="ui button" type="submit" value='Kaydet'
