h3 Siniflar
p.subheader Asagidaki sinif listelerinden siniflari ve ogrencileri gorebilirsiniz
table.ui.striped.table
  thead
    tr
      th Isim
      th Ogrenciler
      th Dersler
      th Aktif
  tbody
    - model.each do |record|
      tr
        td
          a.ui.label href="#{edit_url(record)}" =record.name
        td 

          a.ui.label href="#{students_url(record)}" 
            i class="user icon"
            = number_of_students(record)            
        td 
          - record.courses.each do |course|
            a href=course_url(course) class='ui label'
              = course.name
        td = active?(record)
