h1.ui #{name} sinifi
.ui.divider
.ui.two.column.grid
  .ten.wide.column
    .ui.feed
      - events.each do |event|
        = cell("#{event.class.name}::Cell::Cardz".constantize, event)
        .ui.divider
    | Total # of events: #{events.count}

  .six.wide.column
    .ui.statistics.
      .statistic
        .value = courses.count
        .label Ders
      .statistic
        .value = students.count
        .label Ogrenci
      .statistic
        .value = homeworks.count
        .label Odev
      .statistic
        .value = comments.count
        .label Yorum
    h2 Comment
    = form_for Comment.new, html: {class: 'ui form'} do |f|
      .field
        = f.hidden_field :commentable_type, value: 'Room'
        = f.hidden_field :commentable_id, value: room.id
        = f.text_area :body, placeholder: 'Ne dusunuyorsun?', rows: 3
      = f.button 'Gonder', class:"ui button", type:"submit"   

